@import "palette"

.sidebar
  .sidebar-wrapper
    background: $primary-color

  .nav li>a
    margin: 0
    padding-left: 30px
    border-radius: 0

    &:hover
      background: $accent-color-light
      
  .nav li.active>a
    background: $primary-color-dark
    border-right: 20px solid $accent-color


.sidebar:after,
body > .navbar-collapse:after
  background: $primary-color

.navbar .navbar-collapse .navbar-nav li a
  color: $secondary-text-color

  &:hover
    color: $accent-color
